.vs/
.vscode/
build/
build*/
dist/
out/
CMakeUserPresets.json
*.user
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb
Debug/
Release/
x64/
Win32/
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.log
assets/images/source/
mini_spire_save.txt
mini_spire_history.txt
mini_spire_test_save.txt
mini_spire_test_history.txt
